@using Payola.DomainModel;
@using Payola.Resources;

@model Payola.DomainModel.Information
           
@{
    Layout = "~/Views/Shared/DisplayTemplates/Entity.cshtml";    
}

<p>
    <span class="date insert">
        <strong>@Resources.InsertionDate:</strong>
        @Html.DisplayFor(i => i.InsertionDate)
    </span>
    @if (Model.OriginDate.HasValue)
    {
        <span class="date origin">
            <strong>@Resources.OriginDate:</strong>
            @Html.DisplayFor(i => i.OriginDate)
        </span>
    }
    @if (Model.AcquirementDate.HasValue)
    {
        <span class="date acquire">
            <strong>@Resources.AcquirementDate:</strong>
            @Html.DisplayFor(i => i.AcquirementDate)
        </span>
    }
</p>
<p>
    <strong>@Resources.Source:</strong>
    @Html.DisplayFor(i => i.Source)
</p>
<p>
    <strong>@Resources.State:</strong>
    @Html.DisplayFor(i => i.State)
</p>
@if (!String.IsNullOrWhiteSpace (Model.Annotation))
{
    <div class="tit annotation">
        <h6>@Resources.Annotation</h6>
        <p>@Html.DisplayFor(i => i.Annotation)</p>
    </div>
}
@if (!String.IsNullOrWhiteSpace (Model.Text))
{
    <div class="tit text">
        <h6>@Resources.Text</h6>
        <p>@Html.DisplayFor(i => i.Text)</p>
    </div>
}
@if (!String.IsNullOrWhiteSpace (Model.Comment))
{
    <div class="tit comment">
        <h6>@Resources.Comment</h6>
        <p>@Html.DisplayFor(i => i.Comment)</p>
    </div>
}