@using Payola.Resources;

@model Payola.Intranet.Models.ViewModels.InformativeEntityPublicationViewModel

@{
    string entityTypeName = (string) ViewBag.EntityTypeName;
    object routeValues = new { Id = Model.Entity.Id };
}

@section SubMenu
{
    <li class="create">@Html.ActionLink(Resources.ResourceManager.GetString ("Create" + entityTypeName), "Create")</li>
    <li id="submenu-active">
        @Html.ActionLink(Resources.ResourceManager.GetString(entityTypeName), "Detail", routeValues)
        <ul>
            <li class="back">@Html.ActionLink(Resources.BackToDetail, "Detail", routeValues)</li>
        </ul>
    </li>
}

<h3 class="tit @ViewBag.EntityTypeName">
    @Resources.ResourceManager.GetString("Publishing" + entityTypeName)
    @Model.Entity.Identification
</h3>

@using (Html.BeginForm ()) 
{
    @Html.EditorFor(m => m.Publication)
    <p>
        <input type="submit" value="@Resources.Publish" class="input-submit" />
    </p>
}